@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@400;600&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    background-color: #BACDB0;
    /*475B63*/
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.compuertas{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 5rem;
}

img{
    width: 80px;
    height: 80px;

}
/* Circuito*/
.circuito{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Entradas_Multiplexor{
    transform: translateY(1rem);
    
}

.Entradas_Binarios{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transform: translateY(-8rem);
}


/*COMPUERTAS*/
.gate_OR{
    transform: translateY(-42px);
}


.gate_XOR{
    transform: translateY(-25px);
}

.gate_AND{
    transform: translateY(-4px);
}

.gate_NOT{
    transform: translateY(13px);
}


/*Uniendo los circuitos*/

/*Compuerta OR*/
.compuerta_OR{
    display: flex;
}

.conec_OR{
    background-color: rgb(73, 63, 63);
    height: 5px;
    width: 10rem;
}


/*Compuerta XOR*/
.compuerta_XOR{
    display: flex;
}

.conec_XOR{
    background-color: rgb(73, 63, 63);
    height: 5px;
    width: 10rem;
    transform: translateY(14px);
}

/*Compuerta AND*/
.compuerta_AND{
    display: flex;
}

.conec_AND{
    background-color:rgb(73, 63, 63);
    height: 5px;
    width: 10rem;
    transform: translateY(36px);
}

/*Compuerta NOT*/
.compuerta_NOT{
    display: flex;
}

.conec_NOT{
    background-color: rgb(73, 63, 63);
    height: 5px;
    width: 10rem;
    transform: translateY(50.5px);
}

.conec_vertical img{
    height: 28rem;
    width: 9rem;
    transform: translateY(40px);
}
/*Multiplexor*/

.multiplexor img{
    height: 36rem;
    width: 15rem
}

.multiplexor{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    transform: translateY(9.2px);
}

/*Tabla de verdad*/

.tabla_verdad img{
    height: 9rem;
    width: 13rem;
    padding-left: 7rem;
}

button {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    transition: 0.2s;
  }
  
  button:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 1.3rem;
    background: var(--clr);
    color: var(--clr);
    /* box-shadow: 0 0 35px var(--clr); */
    animation: box 3s infinite;
  }
  
  button::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
  }
  
  button span {
    position: relative;
    z-index: 1;
  }
  button i {
    position: absolute;
    inset: 0;
    display: block;
  }
  
  button i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
  }
  
  button i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid var(--clr);
    background: #272822;
    transition: 0.2s;
  }
  
  button:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
  }
  
@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
  }
  
@keyframes box {
    0% {
        box-shadow: #27272c;
    }
    50% {
        box-shadow: 0 0 25px var(--clr);
    }
    100% {
        box-shadow: #27272c;
    }
}

input{
    height: 1.4rem;
    border-radius: 5px;
    margin-left: 7px;
}

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
}

